# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.idea/
activity-api/activity-api.iml
activity-collection.iml
activity-common/activity-common.iml
activity-dao/activity-dao.iml
activity-service/activity-service.iml
activity-web/activity-web.iml
workspace.xml
out
gen
